.full {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f2f2;
}

.error {
  color: red;
}

.left-side {
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.text {
  margin-bottom: 20px;
}

.text h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.register-link {
  color: blue;
  text-decoration: none;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  font-size: 18px;
  margin-bottom: 10px;
}

form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.app h1{
  align-items: center;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

button {
  position: static; 
}
