.full {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 500px;
}

.texts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
    gap: 80px;
}

.texts h1 {
    font-size: 28px;
    color: #36454f;
}

.register-link {
    color: green; 
    text-decoration: none; 
    font-size: 20px;
}

.link {
    font-size: 20px;
    color: green; 
}

.left-side {
    font-family: 'Courier New', Courier, monospace;
    gap: 20px;
    position: absolute;
    left: 10%;
    top: 20%;
    display: flex;
    flex-direction: column;
    flex: 1;
    color: #36454f;
}

.left-side h2 {
    text-align: left;
    margin: 0;
}

.left-side input {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 100%;
}

.right-side {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    left: 53%;
    top: 50%;
    transform: translate(-10%, -50%);
    display: flex;
    flex-direction: column;
    flex: 1;
}

.right-side h2 {
    text-align: center;
    color: #36454f;
}

.left-side button {
    position: absolute;
    left: 0%;
    top: 110%;
    gap: 20px;
    width: 150px;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}